html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0;
	background-color: #ededed;
}


section
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 50%;
	height: auto;
	background-color: white;
	padding: 30px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}






